---
import type { Language, Product } from "../../types";
import { createTranslate } from "../../lib/i18n";

interface Props {
  customFields?: { name: any; value: any }[];
  lang: Language;
}

const { customFields = [], lang } = Astro.props;
const t = createTranslate(lang);
---

{
  customFields.length > 0 && (
    <div class="grid grid-cols-[repeat(auto-fit,minmax(280px,1fr))] md:grid-cols-[repeat(auto-fit,minmax(360px,1fr))] lg:grid-cols-[repeat(auto-fit,minmax(500px,1fr))] gap-y-10 gap-x-20 py-16 border-t border-gray-100">
      {customFields.map((field, idx) => {
        const value = t(field.value);
        const parts = value
          .split(/\/\/|\\\\/)
          .map((p) => p.trim())
          .filter((p) => p !== "");

        return (
          <div class="flex flex-col gap-3">
            <p class="text-xs text-gray-800 uppercase font-black tracking-widest">
              {idx + 1}. {t(field.name)}
            </p>

            <div class="space-y-3">
              {parts.length > 1 ? (
                <ul class="space-y-3">
                  {parts.map((part) => (
                    <li class="flex items-start gap-3 group">
                      <div class="mt-2 w-1.5 h-1.5 rounded-full bg-gray-600 group-hover:bg-primary transition-colors flex-shrink-0" />
                      <span class="text-gray-600 leading-relaxed text-base">
                        {part}
                      </span>
                    </li>
                  ))}
                </ul>
              ) : (
                <div class="flex items-start gap-3 group">
                  <div class="mt-2 w-1.5 h-1.5 rounded-full bg-gray-600 group-hover:bg-primary transition-colors flex-shrink-0" />
                  <p class="text-gray-600 leading-relaxed text-base">{value}</p>
                </div>
              )}
            </div>
          </div>
        );
      })}
    </div>
  )
}
