---
import type { Translation, Language } from "../../types";
import { createTranslate } from "../../lib/i18n";

interface Props {
  title?: Translation;
  content?: Translation;
  alignment?: "left" | "center" | "right";
  paddingY?: "small" | "medium" | "large";
  backgroundColor?: string;
  lang: Language;
}

const {
  title,
  content,
  alignment = "center",
  backgroundColor,
  lang,
} = Astro.props;
const t = createTranslate(lang);

const alignClasses = {
  left: "text-left",
  center: "text-center",
  right: "text-right",
};

const paddingClasses = {
  small: "py-8",
  medium: "py-16",
  large: "py-24",
};
---

<section
  class:list={[
    "py-12",
    backgroundColor ? `bg-[${backgroundColor}]` : "bg-gray-50",
    alignment === "center"
      ? "text-center"
      : alignment === "right"
        ? "text-right"
        : "text-left",
  ]}
>
  <div class="container mx-auto px-4">
    {
      title && (
        <h1 class="text-2xl md:text-4xl font-bold text-gray-800 mb-4">
          {t(title)}
        </h1>
      )
    }
    {
      content && (
        <p
          class:list={[
            "text-gray-500 max-w-2xl text-md md:text-lg mx-auto leading-relaxed",
            // alignment === 'center' ? 'mx-auto' : ''
          ]}
        >
          {t(content)}
        </p>
      )
    }
  </div>
</section>
